/*padding and border included in width and height*/
* {
  box-sizing: border-box;
}
body {
  background-color: #e2f0e2;
}

/* Wrappers */
.wrapper-main {
  margin: 0 20vw;
}

.wrapper-gallery {
  margin: 0 20vw;
}

/* Default text styling */
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  display: block;
  margin: 10px 20px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
}

h5 {
  text-align: center;
}

#header-main nav {
  display: grid;
  grid-template-columns: 240px 3fr;
  grid-template-rows: auto;
  padding-bottom: 30px;
}

#header-main nav img {
  height: 50px;
  margin: 25px 0;
  border-radius: 20px;
}

#header-main nav ul {
  justify-self: right;
}

#header-main nav ul li {
  display: inline-block;
  list-style: none;
  justify-self: right;
  margin: 20px 0;
}

#header-main nav ul li a {
  color: rgb(17, 17, 17);
  font-family: Arial, Helvetica, sans-serif;
  /* padding-left: 10px;*/
  text-decoration: none;
}

#header-main nav ul li a:hover {
  color: rgb(255, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
